{
  "$schema": "https://json.schemastore.org/prettierrc",
  "parser": "flow",
  "singleQuote": true,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": [".babelrc", ".prettierrc", "*.json"],
      "options": { "parser": "json" }
    }
  ]
}
